.dart_tool/
.firebase/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
android/.gradle/
android/local.properties
coverage/
pubspec.lock
functions/lib/
functions/node_modules/
functions/.env*
